.botons {
    display: flex;
    justify-content: center;
}

.btn-1 {
    background-color: #20156a;
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 17px;
    border: 0;
    border-radius: 3px;
    font-weight: bold;
    a {
        text-decoration: none;
        color: #ffffff;
    }
}

.btn-2 {
    @extend .btn-1;
    padding-left: 7px;
    padding-right: 7px;
}