.logo {
    height: 60px;
}
header {
    margin-top: 105px;
}
.bg-gr {
    background-color: rgb(51, 50, 50);
}
.bg-gra {
    color: rgb(255, 255, 255) !important;
    font-weight: bold !important;
}
.bg-gra:hover {
    color: rgb(0, 200, 255) !important;
}
#parrafoText {
    background-color: rgb(187, 187, 187);
    border: 5px solid rgb(35, 35, 35);
    border-radius: 5px;
}