* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import "./_extends.scss";
@import "./_mixins.scss";
@import "./_maps.scss";
@import "./_var.scss";
@import "./_header.scss";
@import "./_footer.scss";
